<div class="footer-container">
        <div class="flex-box">
            <a class="footer-logo" href="/"><img src="img/logo.svg" alt="ЦЭТ"></a>
            <div class="footer-nav">
                <p class="footer-nav-title">Навигация</p>
                <ul>
                    <li><a href="">Главная</a></li>
                    <li><a href="">Каталог</a></li>
                    <li><a href="">Спецпредложения</a></li>
                    <li><a href="">Бренды</a></li>
                    <li><a href="">О нас</a></li>
                </ul>
            </div>
            <div class="footer-nav">
                <p class="footer-nav-title">Заказчикам</p>
                <ul>
                    <li><a href="">Политика конфиденциальности</a></li>
                    <li><a href="">Оплата и доставка</a></li>
                </ul>
                <p class="footer-nav-worktime">Принимаем звонки <br>с 9:00 до 17:00 МСК</p>
            </div>
            <div class="footer-contacts">
                <p class="footer-contacts-title">Контакты</p>
                <p><span>Телефон.</span> <a href="tel:+79996563232">+7 (999) 656-32-32</a></p>
                <p><span>Адрес.</span> г. Санкт-Петербург, <br>ул. Столяро-молярова, д. 5А</p>
                <p><span>E-Mail.</span> <a href="mailto:electrotech@mail.com">electrotech@mail.com</a></p>
            </div>
        </div>
        <p class="header-nav-menu-mobile-copyright mobile-700">
            Created by<br>
            <a href="#"><img src="img/row-studio-logo.svg" alt="ROWSTUDIO"/></a>
        </p>
    </div>