
    <div class="header-top flex-box box-nowrap">
        <div class="header-top-city">г. Санкт-Петербург</div>
        <div class="header-top-search">
            <form class="header-top-search-form">
                <input type="text" placeholder="Электросчетчики"/>
                <input type="submit" value=""/>
            </form>
        </div>
        <div class="header-top-contacts">+7 (950) 146-62-39</div>
    </div>

    <div class="header-nav">
        <div class="header-nav-container flex-box">
            <div class="header-nav-logo"><a href="/"><img src="img/logo.svg" alt="ЦЭТ"></a></div>
            <ul class="header-nav-menu header-nav-menu-desktop m-0">
                <li><a href="">Главная</a></li>
                <li><a href="">Каталог</a></li>
                <li><a href="">Спецпредложения</a></li>
                <li><a href="">Бренды</a></li>
                <li><a href="">О нас</a></li>
            </ul>
            <div class="header-nav-user">
                <span class="header-nav-icons header-nav-user-fav"></span>
                <span class="header-nav-icons header-nav-user-basket"></span>
                <span class="header-nav-icons header-nav-user-profile"></span>
                <div class="header-nav-forms">
                    <form class="header-nav-forms-log" id="login_form">
                        <label for="log_mail">E-Mail</label>
                        <input type="email" placeholder="example@mail.ru" id="log_mail" required>
                        <label for="log_pass">Пароль</label>
                        <input type="password" placeholder="*******" id="log_pass" required>
                        <input type="submit" class="btn btn-blue" value="Войти">
                        <a href="#" class="registr" id="registr">Регистрация</a>
                    </form>
                    <form class="header-nav-forms-reg" id="registration_form">
                        <label for="reg_mail">Ваш E-Mail</label>
                        <input type="email" placeholder="example@mail.ru" id="reg_mail" required>
                        <label for="reg_pass">Пароль</label>
                        <input type="password" placeholder="*******" id="reg_pass" required>
                        <label for="reg_pass_confirm">Подтвердите пароль</label>
                        <input type="password" placeholder="*******" id="reg_pass_confirm" required>
                        <label for="user_name">Ваше Имя</label>
                        <input type="text" placeholder="Имя" id="user_name">
                        <label for="last_name">Ваша Фамилия</label>
                        <input type="text" placeholder="Фамилия" id="last_name">
                        <label for="s_name">Ваше Отчетсво (если имеется)</label>
                        <input type="text" placeholder="Отчество" id="s_name">
                        <div class="conf-row flex-box">
                            <input type="checkbox" name="confidence" id="conf" required>
                            <span class="conf-check"></span>
                            <label for="conf">Я согласен с политикой конфиденциальности.</label>
                        </div>
                        <input type="submit" class="btn btn-blue" value="Регистрация">
                    </form>
                    <div class="header-nav-personal" id="personal_info">
                        <p class="header-nav-personal-user">Сергей Удальцов</p>
                        <p class="header-nav-personal-email">udalec@mail.ru</p>
                        <a class="btn" href="">ИСТОРИЯ ПОКУПОК</a>
                        <a class="btn header-nav-personal-orders" href="">ЗАКАЗЫ В ПУТИ
                            <span class="header-nav-personal-orders-count">5</span></a>
                        <a class="btn" href="">НАСТРОЙКИ</a>
                        <a href="">СМЕНИТЬ АККАУНТ</a>
                    </div>
                </div>
            </div>
            <div class="header-nav-mobile mobile-1080">
                <div class="header-nav-mobile-block-items"></div>
                <div class="header-nav-mobile-block">
                    <span class="header-nav-burger" id="nav_burger"></span>
                </div>
            </div>
            <div class="header-nav-menu-mobile" id="menu_mobile">
                <ul class="header-nav-menu">
                    <li><a href="/">Главная</a></li>
                    <li><a href="">Каталог товаров</a></li>
                    <li><a href="">Спецпредложения</a></li>
                    <li><a href="">Бренды</a></li>
                    <li><a href="">О нас</a></li>
                </ul>
                <p class="header-nav-menu-mobile-copyright">
                    Created by<br>
                    <a href="#"><img src="img/row-studio-logo.svg" alt="ROWSTUDIO"/></a>
                </p>
            </div>

        </div>
    </div>
