.popular-item_oth
{
  background: #FFFFFF;
  border-radius: 7px;
  min-width: 140px;
  box-shadow: 0 4px 25px rgba(0, 0, 0, 0.1);
  padding-top: 15px;
  position: relative;
  margin: 0 20px 50px;
  img
  {
    padding-right: 35px;
    padding-left: 20px;
  }
}
.slider-new ul.slick-dots li
{
  text-align: center;
}
.slider-new ul.slick-dots
{
  text-align: center;
}